{% extends "base.html" %}

{% block content %}
    <div class="post">
        <ul>
            {% for post in posts %}
                <li>
                    <div class="post-heading">
                        <div class="post-subject">{{ post.subject }}
                        </div>
                        <div class="post-date">
                            {{ post.created.strftime('%B %d, %Y') }}
                        </div>
                    </div>
                    <div class="post-content">
                        {{ post.content | replace('\n', '<br>') | safe }}
                        <br><br>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="post-buttons">
        <form action="/newpost" method="get">
            <input type="hidden" name="newpost" value="true">
            <button type="submit">Create a New Post</button>
            <br><br>
        </form>
        <form action="/login" method="get">
            <input type="hidden" name="logout" value="true">
            <button type="submit">Logout</button>
        </form>
    </div>

{% endblock %}