{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        {{ p.render() | safe }}
        <br><br>
    {% endfor %}
{% endblock %}

{% block title %}Front Page{% endblock %}

{% block header %}Welcome to My Blog{% endblock %}

{% block content %}
    {% if user %}
        <ul>
            {% for post in posts %}
                <li>{{ post.subject }} ~ {{ post.content }}</li>
            {% endfor %}
        </ul>
        <p><a href="/newpost">Create a New Post</a></p>
    {% else %}
        <p>Please <a href="/login">login</a> to view posts.</p>
    {% endif %}

    <form method="post" action="/logout">
        <button type="submit">
            <a href="/logout">Logout</a>
        </button>
    </form>

{% endblock %}