{% extends base.html %}

{% block title %}New post{% endblock %}

{% block header %}Add a new post{% endblock %}

{% block content %}
    <form method="post" action="/newpost">
        <label for="subject">Subject:</label>
        <input type="text" name="subject" required><br>
        <label for="content">Content:</label>
        <textarea name="content" required></textarea><br>
        <input type="submit" value="Create Post">
    </form>
    <p><a href="/">Back to Front Page</a> </p>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}