{% extends "base.html" %}

{% block content %}
    <h2>Sign Up</h2>
    <form method="post" action="/signup">
        <laber for="username">Username:</laber>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Sign Up">
    </form>
    <p>Already have an account? <a href="/login">Log in here</a></p>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}